body{
    height: 100vh;
    display: flex;
    align-items: center;
    
}


h1{
   
    color: cadetblue;
   background-image: linear-gradient(rgb(189, 223, 189), rgb(0, 255, 119));
   width: 100%;
   font: size 50px;;
   text-align: center;
   padding:400px;
   line-height: 1.4;
}